<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>The League of Vikings</h2>
                <p><a href="https://orgsync.com/66494/chapter">Official League of Legends Organization</a> @ <a href="https://www.wwu.edu/">WWU</a></p>
                <ul class="actions">
                    <li><a href="https://discord.gg/An6C7vC" class="button big alt">Discord</a></li>
                    <li><a href="https://www.facebook.com/groups/157827667704005/" class="button big alt">Facebook</a></li>
                    <li><a href="https://twitter.com/WWULoL" class="button big alt">Twitter</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
